<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/component :: component('用户中心')" />
<link th:href="@{/css/user/center.css}" rel="stylesheet" />
<body>

<nav th:replace="common/head :: head" />

<div id="userContent">
    <div class="layui-row">
        <table>
            <tr>
                <td width="73" valign="top" align="center">
                    <img width="73px" height="73px" th:src="${session.loginUser.getPhoto()}" />
                    <div style="height: 10px;"></div>
                    <button type="button" class="layui-btn" name="file" id="uploadImage">
                        <i class="layui-icon">&#xe67c;</i>上传头像
                    </button>
                </td>
                <td width="10"></td>
                <td width="auto" valign="top" align="left">
                    <div style="height: 35px;"></div>
                    <i class="layui-icon layui-icon-user" style="font-weight: bold; font-size: 18px;" th:text="${session.loginUser.getName()}"></i>
                    <div style="height: 35px;"></div>
                    <span th:text="'于' + ${session.loginUser.formatDate()}  + '加入Kic，第' + ${session.loginUser.getId()} + '位会员！'"></span>
                </td>
            </tr>
        </table>
    </div>

    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 50px;">
        <legend>我的记录:</legend>
    </fieldset>

    <div id="page"></div>
</div>

<footer th:include="common/footer :: footer" />
<script th:src="@{/js/user/center.js}" type="text/javascript" />

</body>
</html>