<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/component :: component('用户登录')" />
<link th:href="@{/css/user/login.css}" rel="stylesheet" />
<body>

<nav th:replace="common/head :: head" />

<div class="panel panel-default">
    <div class="panel-heading">登录</div>
    <div class="panel-body">
        <div class="form-group">
            <input class="form-control" placeholder="请输入用户名" type="text" id="user_login" />
        </div>
        <div class="form-group">
            <input class="form-control" placeholder="请输入密码" type="password" id="password_login" />
        </div>
        <div class="form-group">
            <input class="btn btn-primary btn-block" type="submit" id="login" value="登录" />
        </div>
        <div class="panel-footer">
            <a href="/user/register">注册</a>
            <a href="/user/reset">忘记密码?</a>
        </div>
    </div>
</div>

<footer th:include="common/footer :: footer" />
<script th:src="@{/js/user/login.js}" type="text/javascript" />
</body>
</html>