.layui-row {
    margin-top: 30px;
    padding: 5px 5px 5px 5px;
    font-size: 18px;
    border: 1px solid #e7e7e7;
    border-radius: 4px;
    word-wrap: break-word;
    word-break: normal;
}

#showRecordComment {
    margin: auto;
    width: 80%;
}